@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(100, 24, 255, 0.8);
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Chat override */
.chat-message {
  background: rgb(5, 5, 5);
  color: white;
}

.chat-message .message-header {
  color: white;
}

.chat-message img {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

#chat-form #chat-message {
  background: rgb(30, 30, 30);
  color: white;
  border: 2px solid #782e22;
}

.chat-message.whisper {
  background: rgba(82, 2, 148, 0.404);
  color: white;
  border: 2px dashed white;
}

/* Tagify classes */
.tags-look .tagify__dropdown__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  padding: 0.3em 0.5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: 0.2em;
  font-size: 0.85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
  border-color: black;
}

.tags-look .tagify__dropdown__item:hover {
  background: lightyellow;
  border-color: gold;
}

.tags-look .tagify__dropdown__item--hidden {
  max-width: 0;
  max-height: initial;
  padding: 0.3em 0;
  margin: 0.2em 0;
  white-space: nowrap;
  text-indent: -20px;
  border: 0;
}

#tooltip:has(.skill-description) {
  background: transparent;
  border: none;
  box-shadow: none;
}

#tooltip:has(.spellcraft-options-sheet) {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: none;
  pointer-events: initial;
  background: black;
}
#tooltip:has(.spellcraft-options-sheet):hover {
  visibility: visible;
  opacity: 1;
}

/* Styles limited to utopia sheets */
.utopia {
  /* On hover */
  /* Collapsible header style */
  /* Collapsible content style */
  /* Active class to show the content */
  /* Chevron icon rotation */
  /* Smooth transition effect */
}
.utopia .resource-label {
  font-weight: bold;
}
.utopia .item-form {
  font-family: "Roboto", sans-serif;
}
.utopia .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.utopia .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.utopia .sheet-header .header-fields {
  flex: 1;
}
.utopia .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.utopia .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.utopia .sheet-tabs {
  flex: 0;
}
.utopia .sheet-body,
.utopia .sheet-body .tab,
.utopia .sheet-body .tab .editor {
  height: 100%;
}
.utopia .tox .tox-editor-container {
  background: #fff;
}
.utopia .tox .tox-edit-area {
  padding: 0 8px;
}
.utopia .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
.utopia .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.utopia .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.utopia .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #fff;
}
.utopia .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.utopia .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  align-items: center;
  display: flex;
}
.utopia .effects-list .effect-name h3, .utopia .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.utopia .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.utopia .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.utopia .effects-list .effect {
  line-height: 24px;
  height: 24px;
  align-items: center;
  border-bottom: 1px solid #c9c7b8;
}
.utopia .effects-list .effect:last-child {
  border-bottom: none;
}
.utopia .effects-list .effect .effect-name {
  padding-left: 1em;
  color: #fff;
}
.utopia .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.utopia .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.utopia .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid white;
  font-weight: bold;
}
.utopia .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.utopia .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.utopia .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.utopia .effect-list .item .effect-source,
.utopia .effect-list .item .effect-duration,
.utopia .effect-list .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.utopia .effect-list .item .effect-controls {
  border: none;
}
.utopia .td-left {
  text-align: left;
}
.utopia .td-center {
  text-align: center;
}
.utopia .point-display {
  border-top: 1px dashed black;
}
.utopia .point-display > td {
  padding-top: 5px;
}
.utopia .increase {
  line-height: normal;
}
.utopia .gift {
  line-height: normal;
}
.utopia tr:hover {
  background-color: rgb(214, 201, 142) !important;
  color: black;
}
.utopia .gifted {
  background-color: rgba(129, 245, 153, 0.2);
}
.utopia .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.utopia .items-header > * {
  font-size: 14px;
  text-align: center;
}
.utopia .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.utopia .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.utopia .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.utopia .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.utopia .items-list .item-name h3, .utopia .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.utopia .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.utopia .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.utopia .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.utopia .items-list .item:last-child {
  border-bottom: none;
}
.utopia .items-list .item .item-name {
  color: #191813;
}
.utopia .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.utopia .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.utopia .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.utopia .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.utopia .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.utopia .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.utopia.spellcraft-sheet .spellcraft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 10px;
}
.utopia.spellcraft-sheet .spellcraft-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: start;
  gap: 10px;
}
.utopia.spellcraft-sheet .artistries {
  max-height: 30px;
  gap: 10px;
}
.utopia.spellcraft-sheet .artistry-icon {
  width: 30px;
  height: 30px;
  padding: 2px;
  fill: black !important;
  border: none;
  position: absolute;
  left: 0;
}
.utopia.spellcraft-sheet .artistry {
  position: relative;
  height: 30px;
  width: 150px;
  color: white;
  background-color: black;
}
.utopia.spellcraft-sheet .artistry.active {
  color: black;
  background-color: white;
  border: none;
}
.utopia.spellcraft-sheet .feature-select {
  width: 100%;
}
.utopia.spellcraft-sheet .feature-list {
  margin: 5px 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  height: 90%;
}
.utopia.spellcraft-sheet .feature {
  margin-top: 5px;
  position: relative;
  height: 25px;
  width: 100%;
  border-radius: 3px;
}
.utopia.spellcraft-sheet .feature-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  padding: 2px;
  fill: black !important;
  border: none;
}
.utopia.spellcraft-sheet .feature-name {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-55%);
  height: 15px;
  font-size: 15px;
}
.utopia.spellcraft-sheet .feature-controls {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  display: flex;
}
.utopia.spellcraft-sheet .feature-controls .formula-select {
  position: relative;
  height: 25px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.utopia.spellcraft-sheet .feature-controls .formula-select .formula-up, .utopia.spellcraft-sheet .feature-controls .formula-select .formula-down {
  text-align: center;
  width: 25px;
  line-height: 25px;
}
.utopia.spellcraft-sheet .feature-controls .formula-select .formula-up i, .utopia.spellcraft-sheet .feature-controls .formula-select .formula-down i {
  pointer-events: none;
}
.utopia.spellcraft-sheet .feature-controls .formula-select .formula {
  position: relative;
  height: 25px;
  width: 50px;
  text-align: center;
  font-size: 1.2em;
  padding: 2px;
  border: none;
  margin: 0;
}
.utopia.spellcraft-sheet .remove-feature, .utopia.spellcraft-sheet .favorite-feature {
  position: absolute;
  left: -2px;
  top: 0;
  width: 25px;
  height: 25px;
  padding: 2px;
  border: none;
  background-color: #ed3f41;
}
.utopia.spellcraft-sheet .remove-feature i, .utopia.spellcraft-sheet .favorite-feature i {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20%;
  left: 0;
}
.utopia.spellcraft-sheet .feature-variable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 25px;
  padding: 0;
  margin: 0;
}
.utopia.spellcraft-sheet .feature-variable input[type=number] {
  background-color: white;
  color: black;
  position: relative;
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  padding: 2px;
  border: none;
  margin: 0;
}
.utopia.spellcraft-sheet .feature-variable input[type=text] {
  background-color: white;
  color: black;
  position: relative;
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  padding: 2px;
  border: none;
  margin: 0;
}
.utopia.spellcraft-sheet .feature-variable input[type=text]:hover {
  width: 200px;
}
.utopia.spellcraft-sheet .feature-variable input[type=text]:focus {
  width: 200px;
}
.utopia.spellcraft-sheet .feature-variable .feature-variable-character {
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  width: 25px;
}
.utopia.spellcraft-sheet .feature-variable button {
  position: relative;
  height: 25px;
  width: 25px;
  text-align: left;
  padding: 2px;
  border: none;
  margin: 0;
}
.utopia.spellcraft-sheet .feature-variable button i {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20%;
  left: 0;
}
@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  12.5% {
    border-color: #c9593f transparent transparent transparent;
  }
  25% {
    border-color: #c9593f #c9593f transparent transparent;
  }
  37.5% {
    border-color: #c9593f #c9593f #c9593f transparent;
  }
  50% {
    border-color: #c9593f #c9593f #c9593f #c9593f;
  }
  62.5% {
    border-color: transparent #c9593f #c9593f #c9593f;
  }
  75% {
    border-color: transparent transparent #c9593f #c9593f;
  }
  87.5% {
    border-color: transparent transparent transparent #c9593f;
  }
  100% {
    border-color: transparent;
  }
}
.utopia.spellcraft-sheet .spell-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 3px;
  width: 100%;
  height: 94%;
  border: 2px solid transparent;
}
.utopia.spellcraft-sheet .spell-panel.dragging {
  border: 2px dashed white;
}
.utopia.spellcraft-sheet .spell-features {
  width: 100%;
}
.utopia.spellcraft-sheet .selected-feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 0 10px;
}
.utopia.spellcraft-sheet .spell-name {
  width: 100%;
  height: 30px;
}
.utopia.spellcraft-sheet .spell-name input {
  font-size: 1.5em;
}
.utopia.spellcraft-sheet .spell-attributes {
  width: 100%;
}
.utopia.spellcraft-sheet .spell-attributes .flexrow {
  border: 1px solid rgb(92, 92, 92);
  padding: 0.5em;
  height: 100%;
}
.utopia.spellcraft-sheet .spell-attributes .spell-duration, .utopia.spellcraft-sheet .spell-attributes .spell-range, .utopia.spellcraft-sheet .spell-attributes .spell-aoe, .utopia.spellcraft-sheet .spell-attributes .spell-cost {
  font-size: 1em;
  font-weight: 700;
  width: 80%;
}
.utopia.spellcraft-sheet .spell-attributes .spell-duration-value, .utopia.spellcraft-sheet .spell-attributes .spell-range-value, .utopia.spellcraft-sheet .spell-attributes .spell-aoe-value, .utopia.spellcraft-sheet .spell-attributes .spell-cost-value {
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 1em;
  width: 120%;
}
.utopia.spellcraft-sheet .tooltip-option {
  background: #403e4e;
  border: 1px solid #c9593f;
}
.utopia.spellcraft-sheet .tooltip-option.active {
  background: #688b1b;
  border: 1px solid white;
}
.utopia.spellcraft-sheet .spell-flavor {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 10px;
}
.utopia.spellcraft-sheet .spell-flavor textarea {
  width: 100%;
  height: 100%;
  line-height: 16px;
  font-size: 12px;
  padding: 5px;
}
.utopia.spellcraft-sheet .spell-controls {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: space-evenly;
}
.utopia.spellcraft-sheet .spell-list {
  width: 100%;
}
.utopia.spellcraft-sheet .spell-list > .grid.grid-2col {
  align-items: start;
}
.utopia.spellcraft-sheet .spell {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-radius: 0px 5px 0 5px;
  flex-wrap: wrap;
}
.utopia.spellcraft-sheet .spell > .spell-name, .utopia.spellcraft-sheet .spell > .spell-cost {
  width: auto;
  height: auto;
  position: static;
  top: 0;
  line-height: 24px;
  padding: 0 5px;
  text-align: left;
  color: white;
  filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 6px black);
}
.utopia.spellcraft-sheet .spell .spell-name {
  left: 0;
}
.utopia.spellcraft-sheet .spell .spell-cost {
  right: 0;
}
.utopia.spellcraft-sheet .spell .spell-controls {
  position: static;
  left: 0;
  top: 24px;
  width: 100%;
  height: 24px;
  flex-direction: row;
}
.utopia.spellcraft-sheet .spell .spell-controls a {
  width: 100%;
  text-align: center;
  line-height: 24px;
  filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 6px black);
}
.utopia.spellcraft-sheet .spell .spell-controls a:hover {
  background-color: #ff0000;
  color: white;
}
.utopia.actor-sheet .ability-table tr td {
  padding: 0.25em 0.5em;
}
.utopia.actor-sheet .char-name input {
  width: 500px;
  font-size: 0.6em;
  font-weight: bold;
  padding: 0 10px;
  margin: 0;
}
.utopia.actor-sheet .species-container {
  position: relative;
}
.utopia.actor-sheet .species-container input {
  font-size: 0.6em;
  font-weight: bold;
  padding: 0 10px;
  margin: 0;
}
.utopia.actor-sheet .species {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.utopia.actor-sheet .ability-table {
  margin: 0 !important;
}
.utopia.actor-sheet .actor-data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.utopia.actor-sheet .actor-data h4 {
  margin-top: 0.5em;
}
.utopia.actor-sheet .actor-talents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0.5em;
}
.utopia.actor-sheet .actor-talents h4 {
  margin-top: 0.5em;
}
.utopia.actor-sheet .talent-content {
  width: 100%;
  justify-content: space-between;
}
.utopia.actor-sheet .data-blocks {
  gap: 0.5em;
}
.utopia.actor-sheet .data-overlay {
  position: relative;
  align-content: start;
  justify-content: start;
  max-width: 50px;
  height: 40px;
}
.utopia.actor-sheet .data-overlay i {
  font-size: 2.5rem;
  color: rgb(107, 107, 107);
}
.utopia.actor-sheet .data-overlay i:hover {
  color: rgb(214, 201, 142);
}
.utopia.actor-sheet .data-number {
  position: absolute;
  min-width: 50px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  filter: drop-shadow(0px 0px 3px black);
  text-shadow: 0px 0px 3px black, 0px 0px 6px black;
  z-index: 1000;
  pointer-events: none;
}
.utopia.actor-sheet .action {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5em;
  position: relative;
}
.utopia.actor-sheet .action > span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.utopia.actor-sheet .resource {
  width: 100px;
  height: 45px;
  position: relative;
  display: flex;
}
.utopia.actor-sheet .resource-value {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 30px;
  line-height: 30px;
  z-index: 100;
  filter: drop-shadow(2px 2px 2px black);
}
.utopia.actor-sheet .resource-value label {
  position: absolute;
  right: 5px;
  top: 0;
  line-height: 30px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 110;
}
.utopia.actor-sheet .resource-max {
  position: absolute;
  left: 20px;
  top: 15px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  z-index: 0;
}
.utopia.actor-sheet .resource-max input {
  pointer-events: none;
}
.utopia.actor-sheet .resource-max label {
  position: absolute;
  right: 5px;
  bottom: 0;
  line-height: 30px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  pointer-events: none;
}
.utopia.actor-sheet .resource-max:hover {
  z-index: 1000;
}
.utopia.actor-sheet .resource-max:hover label {
  z-index: 1010;
}
.utopia.actor-sheet .spell-list > .grid.grid-3col {
  align-items: start;
}
.utopia.actor-sheet .spell {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-radius: 0px 5px 0 5px;
  flex-wrap: wrap;
}
.utopia.actor-sheet .spell .spell-name, .utopia.actor-sheet .spell .spell-cost {
  position: static;
  top: 0;
  line-height: 24px;
  padding: 0 5px;
  text-align: left;
  color: white;
  filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 6px black);
}
.utopia.actor-sheet .spell .spell-name {
  left: 0;
}
.utopia.actor-sheet .spell .spell-cost {
  right: 0;
}
.utopia.actor-sheet .spell .spell-controls {
  position: static;
  left: 0;
  top: 24px;
  width: 100%;
  height: 24px;
  flex-direction: row;
}
.utopia.actor-sheet .spell .spell-controls a {
  width: 100%;
  text-align: center;
  line-height: 24px;
  filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 6px black);
}
.utopia.actor-sheet .spell .spell-controls a:hover {
  background-color: #ff0000;
  color: white;
}
.utopia.spell-sheet .spellcraft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 10px;
}
.utopia.spell-sheet .spellcraft-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: start;
  gap: 10px;
}
.utopia.spell-sheet .artistries {
  max-height: 30px;
  gap: 10px;
}
.utopia.spell-sheet .artistry-icon {
  width: 30px;
  height: 30px;
  padding: 2px;
  fill: black !important;
  border: none;
  position: absolute;
  left: 0;
}
.utopia.spell-sheet .artistry {
  position: relative;
  height: 30px;
  width: 150px;
  color: white;
  background-color: black;
}
.utopia.spell-sheet .artistry.active {
  color: black;
  background-color: white;
  border: none;
}
.utopia.spell-sheet .feature-select {
  width: 100%;
}
.utopia.spell-sheet .feature-list {
  margin: 5px 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  height: 90%;
}
.utopia.spell-sheet .feature {
  margin-top: 5px;
  position: relative;
  height: 25px;
  width: 100%;
  border-radius: 3px;
}
.utopia.spell-sheet .feature-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  padding: 2px;
  fill: black !important;
  border: none;
}
.utopia.spell-sheet .feature-name {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-55%);
  height: 15px;
  font-size: 15px;
}
.utopia.spell-sheet .feature-controls {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  display: flex;
}
.utopia.spell-sheet .feature-controls .formula-select {
  position: relative;
  height: 25px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.utopia.spell-sheet .feature-controls .formula-select .formula-up, .utopia.spell-sheet .feature-controls .formula-select .formula-down {
  text-align: center;
  width: 25px;
  line-height: 25px;
}
.utopia.spell-sheet .feature-controls .formula-select .formula-up i, .utopia.spell-sheet .feature-controls .formula-select .formula-down i {
  pointer-events: none;
}
.utopia.spell-sheet .feature-controls .formula-select .formula {
  position: relative;
  height: 25px;
  width: 50px;
  text-align: center;
  font-size: 1.2em;
  padding: 2px;
  border: none;
  margin: 0;
}
.utopia.spell-sheet .remove-feature, .utopia.spell-sheet .favorite-feature {
  position: absolute;
  left: -2px;
  top: 0;
  width: 25px;
  height: 25px;
  padding: 2px;
  border: none;
  background-color: #ed3f41;
}
.utopia.spell-sheet .remove-feature i, .utopia.spell-sheet .favorite-feature i {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20%;
  left: 0;
}
.utopia.spell-sheet .feature-variable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 25px;
  padding: 0;
  margin: 0;
}
.utopia.spell-sheet .feature-variable input[type=number] {
  background-color: white;
  color: black;
  position: relative;
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  padding: 2px;
  border: none;
  margin: 0;
}
.utopia.spell-sheet .feature-variable input[type=text] {
  background-color: white;
  color: black;
  position: relative;
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  padding: 2px;
  border: none;
  margin: 0;
}
.utopia.spell-sheet .feature-variable input[type=text]:hover {
  width: 200px;
}
.utopia.spell-sheet .feature-variable input[type=text]:focus {
  width: 200px;
}
.utopia.spell-sheet .feature-variable .feature-variable-character {
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  width: 25px;
}
.utopia.spell-sheet .feature-variable button {
  position: relative;
  height: 25px;
  width: 25px;
  text-align: left;
  padding: 2px;
  border: none;
  margin: 0;
}
.utopia.spell-sheet .feature-variable button i {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20%;
  left: 0;
}
@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  12.5% {
    border-color: #c9593f transparent transparent transparent;
  }
  25% {
    border-color: #c9593f #c9593f transparent transparent;
  }
  37.5% {
    border-color: #c9593f #c9593f #c9593f transparent;
  }
  50% {
    border-color: #c9593f #c9593f #c9593f #c9593f;
  }
  62.5% {
    border-color: transparent #c9593f #c9593f #c9593f;
  }
  75% {
    border-color: transparent transparent #c9593f #c9593f;
  }
  87.5% {
    border-color: transparent transparent transparent #c9593f;
  }
  100% {
    border-color: transparent;
  }
}
.utopia.spell-sheet .spell-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 3px;
  width: 100%;
  height: 94%;
  border: 2px solid transparent;
}
.utopia.spell-sheet .spell-panel.dragging {
  border: 2px dashed white;
}
.utopia.spell-sheet .spell-features {
  width: 100%;
}
.utopia.spell-sheet .selected-feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 0 10px;
}
.utopia.spell-sheet .spell-name {
  width: 100%;
  height: 30px;
}
.utopia.spell-sheet .spell-name input {
  font-size: 1.5em;
}
.utopia.spell-sheet .spell-attributes {
  width: 100%;
}
.utopia.spell-sheet .spell-attributes .flexrow {
  border: 1px solid rgb(92, 92, 92);
  padding: 0.5em;
  height: 100%;
}
.utopia.spell-sheet .spell-attributes .spell-duration, .utopia.spell-sheet .spell-attributes .spell-range, .utopia.spell-sheet .spell-attributes .spell-aoe, .utopia.spell-sheet .spell-attributes .spell-cost {
  font-size: 1em;
  font-weight: 700;
  width: 80%;
}
.utopia.spell-sheet .spell-attributes .spell-duration-value, .utopia.spell-sheet .spell-attributes .spell-range-value, .utopia.spell-sheet .spell-attributes .spell-aoe-value, .utopia.spell-sheet .spell-attributes .spell-cost-value {
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 1em;
  width: 120%;
}
.utopia.spell-sheet .tooltip-option {
  background: #403e4e;
  border: 1px solid #c9593f;
}
.utopia.spell-sheet .tooltip-option.active {
  background: #688b1b;
  border: 1px solid white;
}
.utopia.spell-sheet .spell-flavor {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 10px;
}
.utopia.spell-sheet .spell-flavor textarea {
  width: 100%;
  height: 100%;
  line-height: 16px;
  font-size: 12px;
  padding: 5px;
}
.utopia.spell-sheet .spell-controls {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: space-evenly;
}
.utopia.spell-sheet .spell-list {
  width: 100%;
}
.utopia.spell-sheet .spell-list > .grid.grid-2col {
  align-items: start;
}
.utopia.spell-sheet .spell {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-radius: 0px 5px 0 5px;
  flex-wrap: wrap;
}
.utopia.spell-sheet .spell > .spell-name, .utopia.spell-sheet .spell > .spell-cost {
  width: auto;
  height: auto;
  position: static;
  top: 0;
  line-height: 24px;
  padding: 0 5px;
  text-align: left;
  color: white;
  filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 6px black);
}
.utopia.spell-sheet .spell .spell-name {
  left: 0;
}
.utopia.spell-sheet .spell .spell-cost {
  right: 0;
}
.utopia.spell-sheet .spell .spell-controls {
  position: static;
  left: 0;
  top: 24px;
  width: 100%;
  height: 24px;
  flex-direction: row;
}
.utopia.spell-sheet .spell .spell-controls a {
  width: 100%;
  text-align: center;
  line-height: 24px;
  filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 6px black);
}
.utopia.spell-sheet .spell .spell-controls a:hover {
  background-color: #ff0000;
  color: white;
}
.utopia.artifice-feature-sheet .crafting-components-table {
  margin: 0;
}
.utopia.artifice-feature-sheet .crafting-components-table td {
  text-align: center;
  align-content: center;
  justify-content: center;
}
.utopia.artifice-feature-sheet .crafting-components-table input {
  width: 35px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.utopia.general-item-sheet .general-attributes {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}
.utopia.general-item-sheet .general-attributes .sidepanel {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 10px;
  margin-top: 10px;
}
.utopia.general-item-sheet .general-attributes .sidepanel .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  position: relative;
}
.utopia.general-item-sheet .general-attributes .sidepanel .row input, .utopia.general-item-sheet .general-attributes .sidepanel .row select, .utopia.general-item-sheet .general-attributes .sidepanel .row multi-select {
  height: 25px;
  transform: translateY(-50%);
  width: 60%;
}
.utopia.general-item-sheet .general-attributes .sidepanel .row label {
  height: 20px;
  transform: translateY(-50%);
}
.utopia.general-item-sheet .general-attributes .general-description {
  padding-top: 10px;
}
.utopia.gear-sheet .primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.utopia.gear-sheet .primary header {
  width: 100%;
}
.utopia.gear-sheet .item-category {
  height: 36px;
  position: relative;
  margin-bottom: 10px;
}
.utopia.gear-sheet .item-category select {
  font-size: 14pt;
  line-height: 36px;
  padding-left: 30px;
}
.utopia.gear-sheet .item-category i {
  position: absolute;
  left: 10px;
  top: 0;
  height: 36px;
  font-size: 13pt;
  line-height: 36px;
}
.utopia.gear-sheet .gear-tags span {
  border: 1px solid white;
  text-align: center;
  line-height: 24px;
  height: 24px;
}
.utopia.gear-sheet .gear-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.utopia.gear-sheet .features {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}
.utopia.gear-sheet .features .feature {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  border-radius: 5px;
  height: 24px;
  border: 1px solid #ce5e1f;
  position: relative;
}
.utopia.gear-sheet .features .feature .feature-name {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  pointer-events: none;
  line-height: 24px;
}
.utopia.gear-sheet .features .feature .content {
  visibility: hidden;
  opacity: 0;
  display: none;
  background: black;
  border: 1px solid white;
  position: absolute;
  left: 0;
  top: 105%;
  border-radius: 5px;
  box-shadow: none;
  pointer-events: none;
  padding: 1em;
  width: 100%;
  height: auto;
  z-index: 200;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}
.utopia.gear-sheet .features .feature .content .tag {
  height: 24px;
  width: auto;
  padding: 0 0.5em;
  text-wrap: none;
  align-items: center;
  align-content: center;
  text-align: center;
  line-height: 24px;
}
.utopia.gear-sheet .features .feature .content .tag.category {
  border: 1px solid #ce5e1f;
}
.utopia.gear-sheet .features .feature .content .tag.component {
  border: 1px solid #c2ce1f;
}
.utopia.gear-sheet .features .feature .content .tag.stackable {
  border: 1px solid #1fce5e;
}
.utopia.gear-sheet .features .feature .content .tag.componentPerStack {
  border: 1px solid #158b40;
}
.utopia.gear-sheet .features .feature:hover .content {
  visibility: visible;
  opacity: 1;
  display: flex;
}
.utopia.gear-sheet .crafting-button {
  position: fixed;
  left: 0;
  bottom: 0;
}
.utopia.gear-sheet .attributes {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: start;
}
.utopia.crafting-features-sheet .crafting-features-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}
.utopia.crafting-features-sheet .crafting-features-list .feature {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  border-radius: 5px;
  height: 24px;
  border: 1px solid #ce5e1f;
  position: relative;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .feature-name {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  pointer-events: none;
  line-height: 24px;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .content {
  visibility: hidden;
  opacity: 0;
  display: none;
  background: black;
  border: 1px solid white;
  position: absolute;
  left: 0;
  top: 105%;
  border-radius: 5px;
  box-shadow: none;
  pointer-events: none;
  padding: 1em;
  width: 100%;
  height: auto;
  z-index: 200;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .content .tag {
  height: 24px;
  width: auto;
  padding: 0 0.5em;
  text-wrap: none;
  align-items: center;
  align-content: center;
  text-align: center;
  line-height: 24px;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .content .tag.category {
  border: 1px solid #ce5e1f;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .content .tag.component {
  border: 1px solid #c2ce1f;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .content .tag.stackable {
  border: 1px solid #1fce5e;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .content .tag.componentPerStack {
  border: 1px solid #158b40;
}
.utopia.crafting-features-sheet .crafting-features-list .feature:hover .content {
  visibility: visible;
  opacity: 1;
  display: flex;
}
.utopia .action-img {
  width: 30px;
}
.utopia .item-name input {
  font-size: 0.6em;
  font-weight: bold;
  margin-bottom: 0.2em;
}
.utopia .interrupt-selector input[type=checklist] {
  display: block;
  width: 100%;
  height: 100%;
}
.utopia .interrupt-selector input[checked] {
  background-color: #c3ff93;
}
.utopia .interrupt-selector input:not([checked]) {
  background-color: #fdabab;
}
.utopia .editor-container {
  position: relative;
  width: 100%;
  height: 300px;
}
.utopia #editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.utopia .spellcap {
  padding: 0.5em;
}
.utopia .spell-tabs .spell-pin {
  display: none;
}
.utopia .spell-tabs {
  margin-top: 0.25em;
}
.utopia .spell-tabs .item {
  width: 100%;
  padding: 0.5em 1em;
}
.utopia .spell-tabs .item.active {
  padding: 0.5em 1em;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-radius: 10px 10px 0 0;
}
.utopia .spell-tabs .item:not(.active) {
  border-bottom: 1px solid black;
}
.utopia .variable {
  margin: 0;
  border: 1px dashed white;
  margin-bottom: 10px;
  padding: 0.5em;
}
.utopia .add-variable-button {
  margin-bottom: 1em;
}
.utopia button > a {
  width: 100%;
  height: 100%;
  display: block;
}
.utopia .spell-feature-attributes {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}
.utopia .spell-feature-attributes .grid {
  margin: 0;
}
.utopia .variable-options {
  width: 100%;
  margin: 5px 0;
}
.utopia .variable-description {
  width: 100%;
  height: 100%;
  margin: 5px 0;
}
.utopia .specialist-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.utopia .options {
  width: 100%;
}
.utopia .options > ol {
  width: 100%;
  justify-content: center;
  align-content: center;
  list-style: none;
  gap: 5px;
  padding: 0px;
  padding: 0;
}
.utopia .options li {
  text-align: center;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5em;
}
.utopia .options-center {
  height: 100%;
  align-content: center;
  justify-content: center;
  margin: 0px;
}
.utopia .reset {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove var(--color-border-light-highlight);
  height: 100%;
}
.utopia input[type=number]:hover::-webkit-inner-spin-button,
.utopia input[type=number]:hover::-webkit-outer-spin-button {
  opacity: 1;
}
.utopia .points {
  margin-top: 10px;
}
.utopia .filter {
  border: 1px solid black;
}
.utopia .sub-tree {
  width: 100%;
}
.utopia .sub-tree tbody {
  width: 100%;
}
.utopia .collapsible-header {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
}
.utopia .collapsible-content {
  display: none; /* Hidden by default */
  margin: 0;
  padding: 0 1em;
}
.utopia .collapsible-content.active {
  display: block;
}
.utopia .rotate-180 {
  transform: rotate(180deg);
}
.utopia .collapsible-header i {
  transition: transform 0.3s ease; /* Applies to both directions */
}
.utopia .select:hover {
  text-shadow: 0 0 10px var(--color-shadow-primary);
}
.utopia label {
  position: relative;
}
.utopia label .keep-open-span {
  position: absolute;
  left: 30px;
  top: 5px;
  height: 20px;
}
.utopia label .keep-open-input {
  position: absolute;
  left: 0px;
  top: 0;
  height: 20px;
}
.utopia .position {
  font-weight: 800;
  font-size: 1em;
}
.utopia .attack-table {
  margin: 0px;
  margin-bottom: 1em;
}
.utopia .attack-table td {
  padding: 0.25em 0.5em;
  text-align: center;
}
.utopia .subtrait-box {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em;
}
.utopia .item-card h3 {
  font-size: 1.8em;
}
.utopia .item-card img {
  max-width: 15%;
  width: auto;
  height: auto;
}
.utopia .item-card .card-header {
  gap: 0.5em;
  padding: 0.25em;
  justify-content: center;
  align-content: center;
}
.utopia .item-card .dice-flavor {
  text-align: left;
  padding: 0.5em 0.25em;
}
.utopia .item-card footer {
  padding: 0.5em 0.25em;
}
.utopia .item-card .message-buttons {
  padding: 0.25em 0.1em 0em 0.1em;
}
.utopia .item-card .message-buttons button {
  background-color: #b8b6ab;
  border: 1px solid #8c1216;
}
.utopia .success-card {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
  margin-top: 5px;
}
.utopia .check-success {
  background: rgba(80, 167, 8, 0.342);
}
.utopia .check-failure {
  background: rgba(167, 40, 8, 0.342);
}
.utopia .damage-result {
  display: flex;
  flex-direction: column;
}
.utopia .shp-damage {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(167, 164, 8, 0.342);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
  margin-bottom: 5px;
  margin-top: 5px;
}
.utopia .dhp-damage {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(167, 40, 8, 0.342);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}
.utopia .dice-description {
  padding: 0.5em 0.25em;
}
.utopia .dice-gifted {
  position: absolute;
  left: 0.1em;
  top: 0.1em;
  fill: rgba(80, 167, 8, 0.342);
}
.utopia .skill-grid-default {
  overflow: auto;
}
.utopia .skill-grid-default .skill-parent-tree {
  gap: 10px;
  display: flex;
  flex-direction: row;
  gap: 0;
  height: auto;
  border: solid black;
  border-width: 2px 0 0 0;
}
.utopia .skill-grid-default .skill-tree-header {
  position: relative;
  writing-mode: vertical-lr;
  width: 50px;
  padding: 0.5em;
  transform: rotate(180deg);
  border: solid black;
  border-width: 0 0 0 2px;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 1px 1px 4px #000;
}
.utopia .skill-grid-default .trees {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
.utopia .skill-grid-default .skill-tree {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem;
}
.utopia .skill-grid-default .skill-icon {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}
.utopia .skill-grid-default .skill-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 79px;
  background-color: black;
  color: white;
  text-align: center;
  white-space: normal;
  font-size: 12px;
  pointer-events: none;
  line-height: 15px;
  padding: 0.2em 0.1em;
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px #000000;
  }
  70% {
    box-shadow: 0px 0px 5px 4px #ffffff;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #000000;
  }
}
@keyframes locked {
  0% {
    box-shadow: 0px 0px 0px 0px #9e3939;
  }
  50% {
    box-shadow: 0px 0px 15px 4px #e62222;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #9e3939;
  }
}
.utopia .skill-grid-default .skill {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  max-width: 80px;
  min-height: 95px;
  max-height: 95px;
}
.utopia .skill-grid-default .skill:hover {
  box-shadow: none;
  outline: none;
  background: inherit;
  text-shadow: none;
}
.utopia .skill-grid-default .skill[unavailable] {
  background: #5d142b;
  border: 1px solid #7c1b1b;
}
.utopia .skill-grid-default .skill[unavailable] .skill-name {
  background-color: #7c1b1b;
}
.utopia .skill-grid-default .skill[unavailable]:hover {
  animation: locked 1s ease infinite;
}
.utopia .skill-grid-default .skill[available] {
  background: rgba(0, 0, 0, 0.5);
  border: 1px dashed black;
  animation: pulse 2s ease-in-out infinite;
}
.utopia .skill-grid-default .skill[available] .skill-name {
  background-color: black;
  color: white;
}
.utopia .skill-grid-default .locked-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  backdrop-filter: blur(1px);
}
.utopia .skill-description {
  overflow: visible;
  text-align: left;
  pointer-events: none;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  overflow-y: auto;
  letter-spacing: 0.5px;
}
.utopia .skill-description[unavailable] {
  box-shadow: 0 0 10px 8px #5d142b;
}
.utopia .skill-description[available] {
  box-shadow: 0 0 10px 8px #ffffff;
}
.utopia .skill-description[taken] {
  box-shadow: 0 0 10px 8px #d3c78c;
}
.utopia .skill-points {
  pointer-events: none;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  line-height: 15px;
  gap: 5px;
}
.utopia .body, .utopia .mind, .utopia .soul {
  margin-top: 10px;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  display: flex;
  height: 20px;
  flex-direction: row;
  gap: 0px;
}
.utopia .trait {
  font-weight: 900;
  color: #d3688a;
}
.utopia .skill-description .locked {
  background-color: #5d142b;
  color: white;
}
.utopia .skill-description .unlocked {
  background-color: #ffffff;
  color: black;
}
.utopia .skill-description .taken {
  background-color: #d3c78c;
  color: black;
}

/*# sourceMappingURL=utopia.css.map */
