#sidebar {
  background-image: url("../../../../assets/utopia-logo.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar-tab {
  background-color: rgba(20, 20, 20, 0.8);
}