<div class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="flexcol">
    <div class="flexcol">
      <label for="name" class="label">Name</label>
      <input name="name" type="text" class="item-name-input" value="{{item.name}}" placeholder="Name"/>
    </div>
    <div class="flexcol">
      <label for="system.requirements" class="label">Requirements</label>
      {{formInput systemFields.requirements name="system.requirements" value=system.requirements localize=true}}
    </div> 
    <div class="flexcol">
      <label for="system.grants" class="label">Grants</label>
      {{formInput systemFields.grants name="system.grants" value=system.grants localize=true}}
    </div> 
  </div>
</div>