<h3>{{name}}</h3>
{{#if description}}<p>{{description}}</p>{{/if}}
<div class="grid grid-3col">
  {{#each options as |option|}}
    {{!-- if class includes 'active' button should be lit, otherwise keep standard style --}}
    <button type="button" class="tooltip-option {{#if (eq ../selected option)}}active{{/if}}">{{option}}</button>
  {{/each}}
</div>