.ability-table tr td {
  padding: 0.25em 0.5em;
}

.char-name input {
  font-size: 0.6em;
  font-weight: bold;
}

.species-container {
  position: relative;
}

.species {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ability-table {
  margin: 0 !important;
}

.actor-data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

  .actor-data h4 {
    margin-top: 0.5em;
  }

.actor-talents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0.5em;
}

  .actor-talents h4 {
    margin-top: 0.5em;
  }

.talent-content {
  width: 100%;
  justify-content: space-between;
}

.data-blocks {
  gap: 0.5em;
}

.data-overlay {
  position: relative;
  align-content: start;
  justify-content: start;
  max-width: 50px;
  height: 40px;
}

  .data-overlay i {
    font-size: 2.5rem;
    color: rgb(107, 107, 107);
  }

  .data-overlay i:hover {
    color: rgb(214, 201, 142);
  }

.data-number {
  position: absolute;
  min-width: 50px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  filter: drop-shadow(0px 0px 3px black);
  text-shadow: 0px 0px 3px black, 0px 0px 6px black;
  z-index: 1000;
  pointer-events: none;
}