.options {
  width: 100%;
}

.options > ol {
  width: 100%;
  justify-content: center;
  align-content: center;
  list-style: none;
  gap: 5px;
  padding: 0px;
  padding: 0;
}

.options li {
  text-align: center;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5em;
}

.options-center {
  height: 100%;
  align-content: center;
  justify-content: center;
  margin: 0px;
}

.reset {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove var(--color-border-light-highlight);
  height: 100%;
}

/* On hover */
input[type=number]:hover::-webkit-inner-spin-button, 
input[type=number]:hover::-webkit-outer-spin-button { 
    opacity: 1;
}

.points {
  margin-top: 10px;
}

.filter {
  border: 1px solid black;
}

.sub-tree {
  width: 100%;
}

.sub-tree tbody {
  width: 100%;
}

/* Collapsible header style */
.collapsible-header {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
}

/* Collapsible content style */
.collapsible-content {
  display: none; /* Hidden by default */
  margin: 0;
  padding: 0 1em;
}

/* Active class to show the content */
.collapsible-content.active {
  display: block;
}

/* Chevron icon rotation */
.rotate-180 {
  transform: rotate(180deg);
}

/* Smooth transition effect */
.collapsible-header i {
  transition: transform 0.3s ease; /* Applies to both directions */
}

.select:hover {
  text-shadow: 0 0 10px var(--color-shadow-primary);
}

label {
  position: relative;
}

  label .keep-open-span {
    position: absolute;
    left: 30px;
    top: 5px;
    height: 20px;
  }

  label .keep-open-input {
    position: absolute;
    left: 0px;
    top: 0;
    height: 20px;
  }

.position {
  font-weight: 800;
  font-size: 1em;
}