.utopia.spellcraft-sheet {
  & .spellcraft {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 10px;
  }

  & .spellcraft-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: start;
    gap: 10px;
  }

  & .artistries {
    max-height: 30px;
    gap: 10px;
  }

  & .artistry-icon {
    width: 30px;
    height: 30px;
    padding: 2px;
    fill: black !important;
    border: none;
    position: absolute;
    left: 0;
  }

  & .artistry {
    position: relative;
    height: 30px;
    width: 150px;
    color: white;
    background-color: black;
  }

  & .artistry.active {
    color: black;
    background-color: white;
    border: none;
  }

  & .feature-select {
    width: 100%;
  }

  & .feature-list {
    margin: 5px 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    height: 90%;
  }

  & .feature {
    margin-top: 5px;
    position: relative;
    height: 25px;
    width: 100%;
    border-radius: 3px;
  }

  & .feature-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    padding: 2px;
    fill: black !important;
    border: none;
  }

  & .feature-name {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-55%);
    height: 15px;
    font-size: 15px;
  }

  & .feature-controls {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    display: flex;
    
    & .formula-select {
      position: relative;
      height: 25px;
      width: 100px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;

      & .formula-up,
      & .formula-down {
        text-align: center;
        width: 25px;
        line-height: 25px;

        & i {
          pointer-events: none;
        }
      }
      
      & .formula {
        position: relative;
        height: 25px;
        width: 50px;
        text-align: center;
        font-size: 1.2em;
        padding: 2px;
        border: none;
        margin: 0;
      }
    }
  }

  & .remove-feature, .favorite-feature {
    position: absolute;
    left: -2px;
    top: 0;
    width: 25px;
    height: 25px;
    padding: 2px;
    border: none;
    background-color: #ed3f41;

    & i {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 20%;
      left: 0;
    }
  }

  & .feature-variable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 25px;
    padding: 0;
    margin: 0;

    & input[type="number"] {
      background-color: white;
      color: black;
      position: relative;
      height: 25px;
      width: 25px;
      text-align: center;
      font-weight: 900;
      font-size: 1.5em;
      padding: 2px;
      border: none;
      margin: 0;
    }

    & input[type="text"] {
      background-color: white;
      color: black;
      position: relative;
      height: 25px;
      width: 25px;
      text-align: center;
      font-weight: 900;
      font-size: 1.5em;
      padding: 2px;
      border: none;
      margin: 0;

      &:hover {
        width: 200px;
      }

      &:focus {
        width: 200px;
      }
    }

    & .feature-variable-character {
      text-align: center;
      font-weight: 900;
      font-size: 1.5em;
      width: 25px;
    }

    & button {
      position: relative;
      height: 25px;
      width: 25px;
      text-align: left;
      padding: 2px;
      border: none;
      margin: 0;

      & i {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 20%;
        left: 0;
      }
    }
  }

  @keyframes borderAnimation {
    0% {
      border-color: transparent;
    }
    12.5% {
      border-color: #c9593f transparent transparent transparent;
    }
    25% {
      border-color: #c9593f #c9593f transparent transparent;
    }
    37.5% {
      border-color: #c9593f #c9593f #c9593f transparent;
    }
    50% {
      border-color: #c9593f #c9593f #c9593f #c9593f;
    }
    62.5% {
      border-color: transparent #c9593f #c9593f #c9593f;
    }
    75% {
      border-color: transparent transparent #c9593f #c9593f;
    }
    87.5% {
      border-color: transparent transparent transparent #c9593f;
    }
    100% {
      border-color: transparent;
    }
  }

  & .spell-panel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3px;
    width: 100%;
    height: 94%;
    border: 2px solid transparent;

    &.dragging {
      border: 2px dashed white;
    }
  }


  & .spell-features {
    width: 100%;
  }

  & .selected-feature-list {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0 10px;
  }

  & .spell-name {
    width: 100%;
    height: 30px;

    & input {
      font-size: 1.5em;
    }
  }

  & .spell-attributes {
    width: 100%;

    & .flexrow {
      border: 1px solid rgb(92, 92, 92);
      padding: 0.5em;
      height: 100%;
    }

    & .spell-duration, & .spell-range, & .spell-aoe, & .spell-cost {
      font-size: 1em;
      font-weight: 700;
      width: 80%;
    }

    & .spell-duration-value, & .spell-range-value, & .spell-aoe-value, & .spell-cost-value {
      font-size: 1.2em;
      font-weight: 500;
      margin-left: 1em;
      width: 120%;
    }
  }

  & .tooltip-option {
    background: #403e4e;
    border: 1px solid #c9593f;
  }

  & .tooltip-option.active {
    background: #688b1b;
    border: 1px solid white;
  }

  & .spell-flavor {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    
    & textarea {
      width: 100%;
      height: 100%;
      line-height: 16px;
      font-size: 12px;
      padding: 5px;
    }
  }

  & .spell-controls {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
  }

  & .spell-list {
    width: 100%;
  }

  & .spell-list > .grid.grid-2col {
    align-items: start;
  }

  & .spell {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 0px 5px 0 5px;
    flex-wrap: wrap;
    
    & > .spell-name, 
    & > .spell-cost {
      width: auto;
      height: auto;
      position: static;
      top: 0;
      line-height: 24px;
      padding: 0 5px;
      text-align: left;
      color: white;
      filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 6px black);
    }

    & .spell-name {
      left: 0;
    }
    
    & .spell-cost {
      right: 0;
    }

    & .spell-controls {
      position: static;
      left: 0;
      top: 24px;
      width: 100%;
      height: 24px;
      flex-direction: row;

      & a {
        width: 100%;
        text-align: center;
        line-height: 24px;
        filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 6px black);


        &:hover {
          background-color: #ff0000;
          color: white;
        }
      }
    }
  }
}