.chat-message {
  background: rgba(30, 30, 30, 0.9);
  color: white;
  border: none;
  backdrop-filter: blur(5px);
}

.chat-message .message-header {
  color: white;
}

.chat-message img {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

#chat-form #chat-message {
  background: rgba(30, 30, 30, 1);
  color: white;
  border: 1px solid #782e22;
}

.chat-message.whisper {
  background: rgba(98, 77, 116, 1);
  background-image: url("../assets/eye-slash-solid.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
  color: white;
  border: 1px solid rgba(233, 22, 198, 0.8);
}

.dice .part-header .part-flavor {
  color: rgba(194, 194, 194, 0.8)
}

.chat-message .twitch-chat {
  background: #3e1e6e;
  background-image: url("../assets/glitch_flat_black-ops.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
  color: white;
  border: 1px solid #9146ff;
  padding: 0;

  & .twitch-cheer-message, & .twitch-cheer-message-glow{
    position: relative;
    overflow: hidden; 
    z-index: 0;
    padding: 10px;
    /* Border Radius */
    border-radius: 10px;
  
    &::before {
      content: '';
      z-index: -2;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      position: absolute;
      width: 99999px;
      height: 99999px;
      background-repeat: no-repeat;
      background-position: 0 0;
      /*border color, change middle color*/
      background-image: conic-gradient(rgba(0,0,0,0), #edcd19, rgba(0,0,0,0) 25%);
      /* change speed here */
      animation: rotate 4s linear infinite;
    }
  }
  
  & .twitch-cheer-message-glow{
    /* Glow Blur */
    filter: blur(20px);
    height: 0;
    width: 0;
    position: absolute;
  }
  
  & .twitch-cheer-message {
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      /* border width */
      left: 5px;
      top: 5px;
      /* double the px from the border width left */
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      /*bg color*/
      background-color: #3e1e6e;
      background-image: url("../assets/glitch_flat_black-ops.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70px;
      /*box border radius*/
      border-radius: 7px;
    }
  }

  & .twitch-message {
    padding: 5px;
  }  

  & .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;

    & .tag {
      font-size: 12px;
      padding: 2px 5px;
      border: 1px solid white;
      border-radius: 5px;

      &.tag-primary {
        background-color: rgba(100, 240, 170, 0.8);
        color: black;
      }

      &.tag-secondary {
        background-color: rgba(102, 219, 248, 0.8);
        color: black;
      }

      &.tag-cheer {
        background-color: rgba(255, 255, 0, 0.8);
        color: black;
      }
    }
  }

  & .card-header {
    gap: 5px;
    line-height: 1.2em;
    align-items: center;

    & .viewer-name {
      color: #ffffff;
      background-color: rgba(0,0,0,0.7);
      padding: 0 5px;
      border-radius: 5px;
      border: 1px solid white;
      font-size: 1.2em;
      line-height: 1.2em;
    }

    & .chat-badge {
      max-width: 20px;
      max-height: 20px;      
    }
  }

  & .card-content {
    margin: 5px 0 0 0;
    text-wrap: wrap;
    background: rgba(0,0,0,0.7);
    color: white;
    border: 1px solid #9146ff;
    border-radius: 5px;
    padding: 5px;
  }
}



@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}