.item-card h3 {
  font-size: 1.8em;
}

.item-card img {
  max-width: 15%;
  width: auto;
  height: auto;
}

.item-card .card-content {
  padding: 0 0.5em;
}

.item-card .card-header {
  gap: 0.5em;
  padding: 0.25em;
  justify-content: center;
  align-content: center;
}

.item-card .dice-flavor {
  text-align: left;
  padding: 0.5em 0.25em;
}

.item-card footer {
  padding: 0.5em 0.25em;
}

.item-card .message-buttons {
  padding: 0.25em 0.1em 0em 0.1em;
}

.item-card .message-buttons button {
  background-color: #b8b6ab;
  border: 1px solid #8c1216;
}

.item-rarity-0 {
  border: 1px solid #a0a0a0;
  background-color: #a0a0a020;
}

.item-rarity-1 {
  border: 1px solid #c8c8c8;
  background-color: #c8c8c820;
}

.item-rarity-2 {
  border: 1px solid #34d178;
  background-color: #34d17820;
}

.item-rarity-3 {
  border: 1px solid #40a0ff;
  background-color: #40a0ff20;
}

.item-rarity-4 {
  border: 1px solid #ffa63f;
  background-color: #ffa63f20;
}

.item-rarity-5 {
  border: 1px solid #ea3fff;
  background-color: #ea3fff20;
}

.strike-button {
  background: black;
  color: white;;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.5em;

  .strike-content {
    align-self: start;
  }

  .strike-flavor {
    align-self: end;
    font-size: 0.8em;
  }
}

.card-actions {
  display: flex;
  flex-direction: column;
  padding: 0 0.25em;
  margin-bottom: 0.5em;
}

.block-message {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 0;
}

.success-card {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
  margin-top: 5px;
}

.check-success {
  background: rgba(80, 167, 8, 0.342);
}

.check-failure {
  background: rgba(167, 40, 8, 0.342);
}

.damage-result {
  display: flex;
  flex-direction: column;
}

.shp-damage {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(167, 164, 8, 0.342);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
  margin-bottom: 5px;
  margin-top: 5px;
}

.dhp-damage {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(167, 40, 8, 0.342);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}

.dice-description {
  padding: 0.5em 0.25em;
}

.dice-gifted {
  position: absolute;
  left: 0.1em;
  top: 0.1em;
  fill: rgba(80, 167, 8, 0.342);
}

.chat-card.trait-check-card {
  .tags {
    .tag {
      border: 1px solid #b5b3a4;
      border-radius: 5px;
      padding: 2px 5px;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;

    .dice-roll {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5px;
      line-height: 40px;
      height: 40px;

      .dice-formula {
        flex: 3;
        line-height: 40px;
        height: 40px;
      }

      .trait-icon {
        flex: 1;
        font-size: 2em;
        line-height: 40px;
        margin-left: 5px;
      }

      .dice-total {
        flex: 3;
        font-size: 1.5em;
        line-height: 40px;
        height: 40px;
        position: relative;

        .trait-meter {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      
      .dice-success {
        background-color: #207a20;
      }
    }
  }
}

