<div class="flexcol">
  <div class="tree-flex">
    <div class="grid grid-3col">

      <div class="talent-tree">
        <img src="systems/utopia/assets/prowess-1.png"/>
        <div class="tier-3 tree-1">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg id="prowess-tier-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.66 635.68">
            <g id="prowess-tier-1-inner">
              <polygon data-name="traveller" class="cls-1" points="0 0 158.66 0 158.66 204.73 79.33 225.2 0 204.73 0 0"/>
              <polygon data-name="adventurer" class="cls-1" points="0 409.46 0 204.73 79.33 225.2 158.66 204.73 158.66 409.46 79.33 429.93 0 409.46"/>
              <polygon data-name="voyager" class="cls-1" points="0 614.19 0 409.46 79.33 429.93 158.66 409.46 158.66 614.19 79.33 634.66 0 614.19"/>
            </g>
          </svg>
        </div>
      </div>

      <div class="talent-tree">
        <img src="systems/utopia/assets/prowess-2.png"/>
        <div class="tier-3 tree-2">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg id="prowess-tier-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.67 635.68">
            <g id="prowess-tier-2-inner">
              <polygon data-name="practice" class="cls-1" points="0 0 158.66 0 158.66 204.73 79.33 225.2 0 204.73 0 0"/>
              <polygon data-name="discipline" class="cls-1" points="0 409.46 0 204.73 79.33 225.2 158.66 204.73 158.66 409.46 79.33 429.93 0 409.46"/>
              <polygon data-name="prosperity" class="cls-1" points="0 614.19 0 409.46 79.33 429.93 158.66 409.46 158.66 614.19 79.33 634.66 0 614.19"/>
            </g>
          </svg>
        </div>
      </div>

      <div class="talent-tree">
        <img src="systems/utopia/assets/prowess-3.png"/>
        <div class="tier-3 tree-3">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg id="prowess-tier-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.66 635.68">
            <g id="prowess-tier-3-inner">
              <polygon data-name="nomad" class="cls-1" points="0 0 158.66 0 158.66 204.73 79.33 225.2 0 204.73 0 0"/>
              <polygon data-name="wanderer" class="cls-1" points="0 409.46 0 204.73 79.33 225.2 158.66 204.73 158.66 409.46 79.33 429.93 0 409.46"/>
              <polygon data-name="vagabond" class="cls-1" points="0 614.19 0 409.46 79.33 429.93 158.66 409.46 158.66 614.19 79.33 634.66 0 614.19"/>
            </g>
          </svg>
        </div>
      </div>

    </div>
  </div>
  <div class="flexcol tree-description">
    <h3>Warfare</h3>
    <span>
      The Warfare tree is a path towards combat and finesse in conflict. Talents from this tree are battle oriented, both general and specialized. It is the fine art of not only hitting things really hard, but also hitting things very quickly and in close succession.
    </span>
  </div>
</div>