<button type="button" class="attribute-toggle" data-action="toggleClassification" data-attribute="{{attribute}}" data-type="{{type}}">
  <input type="checkbox" {{#if (lookup attributes attribute)}}checked{{/if}} disabled/>
  <span class="attribute-label">{{localize (concat "UTOPIA.FeatureBuilder.Classifications." attribute)}}</span>
</button>