.item-form {
  font: var(--font-primary);
}

// input {
//   letter-spacing: 1px;
// }

// input[type="number"] {
//   font-family: "Russo One", sans-serif;
//   font-weight: 400;
//   font-style: normal;
//   font-size: 1.2em;
// }

.description {
  height: 400px;

  fieldset {
    height: 100%;

    prose-mirror {
      height: 100%;
      overflow: auto;
    }
  }
}

.window-content {
  width: 100%;
  height: 100%;
}

.sheet-header {
  flex: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  .flexcol {
    gap: 5px;
  }

  .gear-materials {
    display: flex;
    flex-direction: row;
    gap: 5px;
    line-height: 24px;
    height: 24px;
    
    & label {
      text-align: right;
      height: 24px;
    }

    & input {
      width: 60px;
      height: 24px;
    }
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.form-group-stacked {
  align-content: flex-start;
  align-items: flex-start;
}

.form-group-stacked.slim {
  input, select, button, a {
    width: 50px;
    text-align: center;
  }
}

.form-group-dual {
  display: flex;
  flex-direction: column;
  flex: 1 1;

  .form-fields {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .sm-right > * {
    flex: 3 3;
  }

  .sm-right {
    input:last-child,
    select:last-child {
      flex: 1 1;
    }
  }
}

.common-attributes {
  flex: 1 0 75px;
  align-self: start;

  & input,
  & select,
  & label {
    height: 20px;
    line-height: 20px;
  }

  & label:not(:has(> input[type="checkbox"])) {
    pointer-events: none;
  }
}

.standard-attributes {
  grid-column: 2 / span 2;
  flex: 2 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;

  & .flexrow, 
  & .flexcol {
    width: 100%;
    gap: 5px;
  }

  & input,
  & select,
  & button,
  & label {
    height: 20px;
    line-height: 20px;
  }

  & input {
    text-align: center;
  }

  & label {
    pointer-events: none;
  }

  .attribute-set,
  .attribute-set-row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: baseline;

    .form-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    .form-group-stacked {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
    }

    .form-group-stacked > * {
      width: 100%;
    }

    .form-group,
    .form-group.medium,
    .form-group.md,
    .form-group-stacked,
    .form-group-stacked.medium,
    .form-group-stacked.md {
      flex: 3 3;
    }

    .form-group.small,
    .form-group.sm,
    .form-group-stacked.small,
    .form-group-stacked.sm {
      flex: 2 2;
    }

    .form-group.extra-small,
    .form-group.xs,
    .form-group-stacked.extra-small,
    .form-group-stacked.xs {
      flex: 1 1;
    }

    .form-group.large,
    .form-group.lg,
    .form-group-stacked.large,
    .form-group-stacked.lg {
      flex: 4 4;
    }

    .form-group.extra-large,
    .form-group.xl,
    .form-group-stacked.extra-large,
    .form-group-stacked.xl {
      flex: 5 5;
    }
  }

  .attribute-set {
    flex-direction: column;
  }

  .attribute-set-row {
    flex-direction: row;
  }
}

.strike,
.resource,
.action {
  .strike-attributes,
  .resource-attributes,
  .action-attributes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    margin-top: 10px;
    margin-bottom: 10px;

    & .flexcol {
      flex: 1 1;
    }

    & .flex2 {
      flex: 2 2;
    }

    & input {
      line-height: 20px;
    }
  }

  .resource-attributes {
    grid-template-columns: repeat(5, 1fr);
  }
}

.armor-defenses {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;

}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 20px;
  left: 5px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ace_editor {
  border: 1px solid #d1d1d1;
  padding: 5px 0;
  width: 100%;
  margin: auto;
}

.classification {
  border: 1px solid #d1d1d1;
  padding: 5px;
}

.tag {
  border: 1px solid white;
  background-color: #585858;
  color: #ccc;
  padding: 2px 5px;
  font-size: 1em;

  .tag-value {
    color: white;
    
  }
}