.action-img {
  width: 30px;
}

.item-name input {
  font-size: 0.6em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.interrupt-selector input[type="checklist"] {
  display: block;
  width: 100%;
  height: 100%;
}

.interrupt-selector input[checked] {
  background-color: #c3ff93;
}

.interrupt-selector  input:not([checked]) {
  background-color: #fdabab;
}

.editor-container {
  position: relative;
  width: 100%;
  height: 300px;
}

#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}