.general-attributes {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;

  .sidepanel {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 10px;
    margin-top: 10px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      line-height: 20px;
      position: relative;
      
      input, select, multi-select {
        height: 25px;
        transform: translateY(-50%);
        width: 60%;
      }

      label {
        height: 20px;
        transform: translateY(-50%);
      }
    }
  }

  .general-description {
    padding-top: 10px;
  }
}