.derived-data {
  font-size: 0.8em;
  font-style: italic;
  color: #7c98a3;
}

.common-attributes {
  flex: 1 0 75px;
  align-self: start;

  & input,
  & select,
  & label {
    height: 20px;
  }
}

.gear-attributes {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  align-self: start;
  flex: 2 0 300px;
  display: flex;
  flex-direction: column;
  gap: 5px; 
  border-top: 1px solid #4e7097;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;

  & > .flexrow {
    gap: 5px;
  }

  & .add-options {
    flex: 2 0 120px;
    height: 24px;
    text-align: right;
  }

  & .add-item {
    flex: 1 0 60px;
    height: 24px;
  }

  & input,
  & select {
    height: 24px;
  }

  .strike,
  .resource,
  .action {
    .strike-attributes,
    .resource-attributes,
    .action-attributes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;

      margin-top: 10px;
      margin-bottom: 10px;

      & .flexcol {
        flex: 1 1;
      }

      & .flex2 {
        flex: 2 2;
      }

      & input {
        line-height: 20px;
      }
    }

    .resource-attributes {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .armor-defenses {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

  }
}

.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  left: 2px;
  bottom: 2px;
  transition: .4s;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tab.description {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}