.general-attributes {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;

  .sidepanel {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 10px;
    margin-top: 10px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      line-height: 20px;
      position: relative;
      
      input, select, multi-select {
        height: 25px;
        transform: translateY(-50%);
        width: 60%;
      }

      label {
        height: 20px;
        transform: translateY(-50%);
      }
    }
  }

  .general-description {
    padding-top: 10px;
  }
}

.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  left: 2px;
  bottom: 2px;
  transition: .4s;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}