.quirk-points {
  font-size: 1.5em;
  padding: 0.5em;
}

.quirk-select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  select {
    flex: 4 4;

    .quirk-option-points {
      font-style: italic;
    }

    .name {
      font-weight: bold;
    }

    .description {
      font-size: 0.8em;
    }
  }

  button {
    flex: 1 1;
  }
}

.custom-quirks {
  margin-top: 10px;
}

.quirks {
  padding: 0;
  margin: 0;

  li {
    display: flex;
    flex-direction: row;
    list-style: none;
    
    .quirk {
      flex: 4 4;
      margin-top: 10px;
      padding: 0 0.5em;

      .name {
        font-weight: bold;
      }

      .description {
        font-size: 0.8em;
      }
    }

    button {
      margin-top: 10px;
      flex: 1 1;
    }
  }
}

.talents {
  .talent-column {
    height: 360px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}