.specialist-attributes {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  align-self: start;
  flex: 2 0 300px;
  display: flex;
  flex-direction: column;
  gap: 5px; 
  border-top: 1px solid #4e7097;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;

  & > .flexrow {
    gap: 5px;
  }

  & .add-options {
    flex: 2 0 120px;
    height: 24px  ;
    text-align: right;
  }

  & .add-item {
    flex: 1 0 60px;
    height: 24px;
  }

  & input,
  & select {
    height: 24px;
  }

  
}