&.item-sheet {

  & .item-header {
    margin: 0 0.5rem 0 0.5rem;
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    align-items: center;
    padding: 0.25rem 1rem 0.25rem 1rem;
    background: var(--utopia-sheet-background);
    position: relative;
    scrollbar-color: var(--utopia-color-scrollbar);
    scrollbar-width: 3px;
    overflow: hidden auto;
    font-size: var(--font-size-11);

    .mode-toggle {
      left: 20px;
      top: 10px;
    }

    .item-icon {
      margin-top: 2rem;
      width: 100px;
      height: 100px;
      border: 2px solid var(--utopia-color-maroon);
      background-color: var(--utopia-color-black);
      color: black;
    }
    
    input[name="name"].item-name {
      color: var(--utopia-color-black);
      font-variation-settings: "wdth" 100;
      font-size: var(--font-size-20);
      text-align: center;
      background: transparent;
      word-wrap: break-word;
      word-break: break-all;
      width: 200px;
      top: 0;
      position: fixed;
      padding: 0;
    }
  
    &::after {
      content: "";
      position: absolute;
      border: solid;
      border-image-source: linear-gradient(180deg, 
        var(--utopia-color-maroon) 0%, 
        var(--utopia-color-maroon) 50%, 
        var(--utopia-color-black) 70%, 
        rgba(0,0,0,0) 100%);
      border-image-slice: 1;
      border-width: 0px 4px 0 4px;
      pointer-events: none;
      inset: 0;
      left: 4px;
      right: 4px;
    }

    div.tag {
      color: var(--utopia-color-black);
      font-size: var(--font-size-10);
    }
  
    .item-header-field.form-group {
      width: 100%;

      p.hint {
        margin: 0.25rem 0;
      }

      label {
        color: var(--utopia-color-black);
        line-height: unset;
        font-weight: bold;
        flex: 1 0 41%;
      }        

      .form-fields {
        flex: 1 0 41%;

        input:not([type="checkbox"]), 
        input:not([type="number"]), 
        button, 
        select {
          height: 18px;
          line-height: 18px;
          font-size: 0.8rem;
          padding: 0 0.5rem;
          font-size: var(--font-size-10);
          border: 1px solid var(--utopia-color-maroon);
          color: var(--utopia-color-black);
          background: transparent;
        }

        input[type="number"] {
          border: none;
          width: 50px;
          height: 18px;
          line-height: 18px;
          font-size: 0.8rem;
          padding: 0 0.5rem;
          font-size: var(--font-size-10);
          color: var(--utopia-color-black);
          background: transparent;
        }

        input[type="checkbox"] {
          height: 18px;
          width: 18px;
          margin: 0;
          background: transparent;
          border: 1px solid var(--utopia-color-maroon);

          &::before {
            content: '';
          }

          &::after {
            content: '';
          }

          &:checked {
            background: var(--utopia-color-maroon);
          }
        }
      }

      &.stacked {
        label {
          flex: 1 0 100%;
        }

        .form-fields {
          flex: 1 0 100%;
        }
      }
    }
  }

  .schema {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.flex-sm {
      .form-group {
        flex: 1 0 100%;
      }
    }

    &.flex-md {
      .form-group {
        flex: 1 0 41%;
      }
    }

    &.flex-lg {
      .form-group {
        flex: 1 0 32%;
      }
    }

    label {
      font-size: var(--font-size-16);
    }

    p.hint {
      color: var(--utopia-color-faint);
      margin: 0.25rem 0;
    }

    .schema-inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      padding: 0 5px;

      label {
        font-size: var(--font-size-13);
      }
    }
  }

  .schema-set {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .schema-set-inputs {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    .tags {
      display: flex;
      flex-direction: row-reverse;
      gap: 5px;
      width: 100%;

      .tag {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        padding: 1px 0.25rem;
        font-size: var(--font-size-12);
        border: 1px solid var(--color-border-dark-3);
        border-radius: 4px;
      }
    }
  }

  div.tag {
    color: var(--utopia-color-blue-white);
  }
  
  .tab {
    grid-column: 2 / span 1;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    height: 100%; 
    overflow: auto;

    &.attributes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 0.5rem;

      > * {
        flex: 1 0 100%;
      }

      &.flex-sm {
        .form-group {
          flex: 1 0 100%;
        }
      }

      &.flex-md {
        .form-group {
          flex: 1 0 41%;
        }
      }

      &.flex-lg {
        .form-group {
          flex: 1 0 32%;
        }
      }
  
      .form-group {
        display: block;
        margin: 0;
        
        label {
          font-size: var(--font-size-16);
        }

        &.schema-input {
          label {
            font-size: var(--font-size-13);
          }
        }
  
        input:not([type="checkbox"]), 
        button {
          height: 24px;
          line-height: 24px;
          font-size: var(--font-size-13);
          border: 1px solid var(--utopia-color-maroon);
          color: var(--utopia-color-blue-white);
          background: transparent;
        }

        select {
          height: 24px;
          line-height: 24px;
          font-size: var(--font-size-13);
          border: 1px solid var(--utopia-color-maroon);
          background: transparent;

          option {
            background: var(--utopia-color-black);
          }
        }

        p.hint {
          color: var(--utopia-color-faint);
          margin: 0.25rem 0;
        }
      }
    }

    .description-header {
      font-size: var(--font-size-16);
    }
  
    &:not(.active) { display: none; }
  }
}

&.actor-sheet {
  
  & .actor-header {
    margin: 0 0.5rem 0 0.5rem;
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    align-items: center;
    padding: 0.25rem 1rem 0.25rem 1rem;
    position: relative;
    scrollbar-color: var(--utopia-color-scrollbar);
    scrollbar-width: 3px;
    overflow: hidden auto;
    font-size: var(--font-size-11);
    background-color: white;
    background-image: url(../assets/character-header.png);
    background-size: 1200px 800px;
    background-position: -110px 0;
    background-repeat: no-repeat;

    .mode-toggle {
      position: absolute;
      left: 20px;
      top: 10px;
    }

    .icon-surround {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      align-items: flex-start;
      gap: 10px;
    }

    .icon-surround-inner {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      gap: 10px;
    }

    .attribute-container {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .attribute-label {
        font-size: var(--font-size-18);
        color: black;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-family: var(--utopia-font-names);
      }
    }

    .attribute-container-row {
      display: flex;
      flex-direction: row;
      gap: 2px;
      
      .attribute-label {
        font-size: var(--font-size-18);
        color: black;
        width: 100%;
        text-align: center;
        font-weight: bold;
        writing-mode: vertical-rl;
        font-family: var(--utopia-font-names);
      }
    }

    .attribute-set,
    .attribute-set-row {
      display: flex;
      flex-direction: column;

      .attribute,
      .attribute-max {
        position: relative;
        width: 60px;
        height: 60px;

        .box {
          border: none;
        }
        
        input, span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: black;
          line-height: 60px;
          height: 60px;
          width: 60px;
          text-align: center;
          font-size: var(--font-size-18);
          border: none;
          transition: unset;
          background: transparent;

          &:focus, &:hover {
            border: none;
          }
        }
      }
    }

    .attribute-set-row {
      flex-direction: row;
    }

    .actor-top-3 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      align-content: center;

      .primary-attribute-group {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;

        
      }
    }
    
    .actor-icon {
      width: 120px;
      height: 120px;
      border: 2px solid var(--utopia-color-maroon);
      background-color: var(--utopia-color-black);
      color: black;
    }

    .actor-portrait {
      margin-top: 2rem;
      height: 200px;
      border: 2px solid var(--utopia-color-maroon);
      background-color: var(--utopia-color-black);
      color: black;
    }
    
    .actor-name {
      color: var(--utopia-color-black);
      font-variation-settings: "wdth" 100;
      font-size: var(--font-size-20);
      text-align: center;
      background: transparent;
      word-wrap: break-word;
      word-break: break-all;
      width: 200px;
      height: 35px;
      line-height: 35px;
      top: 0;
      padding: 0;
    }

    span.actor-name {
      font-family: var(--utopia-font-names);
    }
  
    &::after {
      content: "";
      position: absolute;
      border: solid;
      border-image-source: linear-gradient(180deg, 
        var(--utopia-color-maroon) 0%, 
        var(--utopia-color-maroon) 50%, 
        var(--utopia-color-black) 70%, 
        rgba(0,0,0,0) 100%);
      border-image-slice: 1;
      border-width: 0px 4px 0 4px;
      pointer-events: none;
      inset: 0;
      left: 4px;
      right: 4px;
    }

    div.tag {
      color: var(--utopia-color-black);
      font-size: var(--font-size-10);
    }
  
    .actor-header-field.form-group {
      width: 100%;

      p.hint {
        margin: 0.25rem 0;
      }

      label {
        color: var(--utopia-color-black);
        line-height: unset;
        font-weight: bold;
      }        

      .form-fields {
        input:not([type="checkbox"]), button, select {
          height: 18px;
          line-height: 18px;
          font-size: 0.8rem;
          padding: 0 0.5rem;
          font-size: var(--font-size-10);
          border: 1px solid var(--utopia-color-maroon);
          color: var(--utopia-color-black);
          background: transparent;
        }

        input[type="checkbox"] {
          height: 18px;
          width: 18px;
          margin: 0;
          background: transparent;
          border: 1px solid var(--utopia-color-maroon);

          &::before {
            content: '';
          }

          &::after {
            content: '';
          }

          &:checked {
            background: var(--utopia-color-maroon);
          }
        }
      }
    }

    .actions {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-evenly;
      gap: 5px;

      .action-button {
        font-size: var(--font-size-14);
        padding: 0.25rem 0.5rem;
        color: var(--utopia-color-black);
        border: 1px solid var(--utopia-color-maroon);
      }
    }

    .checks {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      width: 100%;

      .check-name {
        flex: 1 0 50%;
      }

      .check-formula {
        color: var(--utopia-color-black);
        padding: 0;
        height: 18px;
        line-height: 18px ;
        text-align: center;
        background: transparent;
        border: var(--utopia-formula-border);
        flex: 1 0 40%;
      }

      select, input {
        flex: 1 0 40%;
        height: 18px;
        line-height: 18px;
        font-size: 0.8rem;
        padding: 0 0.5rem;
        font-size: var(--font-size-10);
        border: 1px solid var(--utopia-color-maroon);
        background: transparent;

        option {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          color: var(--utopia-color-black);
          background: var(--utopia-color-blue-white);
        }
      }

      .trait-check-edit,
      .subtrait-check-edit {
        flex: 1 0 40%;
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
      
      input:not([type="checkbox"]) {
        flex: 0 0 20%;
        padding: 0;
        text-align: center;
        color: var(--utopia-color-black);
      }

      input[type="checkbox"] {
        flex: 0 0 18px;
        height: 18px;
        width: 18px;
        margin: 0;
        background: transparent;
        border: 1px solid var(--utopia-color-maroon);

        &::before {
          content: '';
        }

        &::after {
          content: '';
        }

        &:checked {
          background: var(--utopia-color-maroon);
        }
      }
    }
  }

  div.tag {
    color: var(--utopia-color-blue-white);
  }
  
  .tab {
    grid-column: 2 / span 1;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 0 0 0.5rem;
    height: 100%; 
    overflow: auto;
    backdrop-filter: grayscale(1);

    &.attributes {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      gap: 0.5rem;      

      .components-container {
        justify-self: flex-end;
        margin-top: auto;
      }
    }

    &.background {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        background: transparent;
        height: 100%;
        padding: 0 0.25em;
      }

      textarea {
        padding: 0;
      }
    }

    .description-header {
      font-size: var(--font-size-16);
    }
  
    &:not(.active) { display: none; }
  }
}