.paper-doll {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 300px;

  .dock-buttons {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  & > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
  }

  a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0 2px;
    border: 1px solid #b5b3a4;
    border-radius: 5px;
  }

  .key {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 20px;
    width: 200px;
    text-wrap: pretty;
  }

  .paper-doll-entry {
    position: absolute;
    left: 110%;
    top: 0;
    width: 200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    
    a.active {
      background-color: red;
      border: 1px solid red;
    }

    &.left {
      left: initial;
      right: 110%;
      flex-direction: row-reverse;
    }

    .evolution {
      position: relative;

      i {
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        line-height: 24px;
      }

      input[type="number"] {
        width: 40px;
        height: 24px;
        line-height: 24px;
        text-align: right;
      }
    }

    .item-slots {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .item-slot,
      .augment-slot {
        width: 40px;
        height: 40px;
        border-radius: 5px;
      }
      
      .item-slot > *,
      .augment-slot > * {
        pointer-events: none;
      }

      .item-slot {
        border: 2px dashed white;
      }

      .item-slot.filled {
        border: 2px solid white;
      }

      .item-slot.locked {
        border: 2px solid #9d3a2a;
        background-color: #511e16;
      }

      .augment-slot {
        border: 2px dashed #0685b9;
        background-color: #034e6c;
      }

      .augment-slot.filled {
        border: 2px solid #0685b9;
      }
    }  
    
    .item-slots.left {
      flex-direction: row-reverse;
    }
  }

  .head {
    position: absolute;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-125px);
    width: 60px;
  }

  .neck {
    position: absolute;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-88px);
    width: 60px;
  }

  .back {
    position: absolute;
    flex-direction: row-reverse;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-67px);
    width: 110px;
  }

  .chest {
    position: absolute;
    flex-direction: row-reverse;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-35px);
    width: 140px;
  }

  .waist {
    position: absolute;
    flex-direction: row-reverse;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(56px);
    width: 90px;
  }

  .hands {
    position: absolute;
    flex-direction: row-reverse;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(12px);
    width: 180px;
  }

  .ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(49px);
    width: 110px;
  }

  .feet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(128px);
    width: 90px;
  }
}