@mixin animation-mixin($name, $boxshadow1, $boxshadow2Percent, $boxshadow2, $boxshadow3) {
  @keyframes #{$name} {
    0% {
      box-shadow: $boxshadow1;
    }
    #{$boxshadow2Percent} {
      box-shadow: $boxshadow2;
    }
    100% {
      box-shadow: $boxshadow3;
    }
  }
}

& {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("/systems/utopia/assets/talent-browser.png");
}

.window-content {
  backdrop-filter: blur(2px);
}

.skill-grid {
  overflow: auto;

  .skill-parent-tree {
    gap: 10px;
    display: flex;
    flex-direction: row;
    gap: 0;
    height: auto;
    border: solid black;
    border-width: 2px 0 0 0;
  }

  .skill-tree-header {
    position: relative;
    writing-mode: vertical-lr;
    width: 50px;
    padding: 0.5em;
    transform: rotate(180deg);
    border: solid black;
    border-width: 0 0 0 2px;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 4px #000;
  }

  .trees {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
  }

  .skill-tree {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem;
    pointer-events: none;
  }

  .skill-icon {
    position: absolute;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .skill-name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 79px;
    background-color: black;
    color: white;
    text-align: center;
    white-space: normal;
    font-size: 12px;
    pointer-events: none;
    line-height: 15px;
    padding: 0.2em 0.1em;
  }

  @include animation-mixin(pulse, 0px 0px 0px 0px #000000, 70%, 0px 0px 5px 4px #ffffff, 0px 0px 0px 0px #000000);
  @include animation-mixin(locked, 0px 0px 0px 0px #9e3939, 50%, 0px 0px 15px 4px #e62222, 0px 0px 0px 0px #9e3939);

  .skill {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
    max-width: 80px;
    min-height: 95px;
    max-height: 95px;
    z-index: 100;
    pointer-events: auto;

    &:hover {
      box-shadow: none; 
      outline: none;
      background: inherit;
      text-shadow: none;
    }
  }

  .skill[unavailable] {
    background: #5d142b;
    border: 1px solid #7c1b1b;
    
    & .skill-icon {
      //filter: grayscale(100%);
    }

    & .skill-name {
      background-color: #7c1b1b;
      //filter: grayscale(100%);
    }
  }

  .skill[unavailable]:hover {
    animation: locked 1s ease infinite;
  }

  .skill[available] {
    background: rgba(0,0,0,0.5);
    border: 1px dashed black;
    animation: pulse 2s ease-in-out infinite;

    & .skill-name {
      background-color: black;
      color: white;
    }
  }

  .locked-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(1px);
  }
}

.skill-description {
  overflow: visible;
  text-align: left;
  pointer-events: none;
  width: 300px;
  background-color: rgba(0,0,0,0.9);
  z-index: 1000;
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  overflow-y: auto;
  letter-spacing: 0.5px;

  .locked {
    background-color: #5d142b;
    color: white;
  }

  .unlocked {
    background-color: #ffffff;
    color: black;
  }

  .taken {
    background-color: #d3c78c;
    color: black;
  }
}

.skill-points {
  pointer-events: none;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  line-height: 15px;
  gap: 5px;
}

.body, .mind, .soul {
  margin-top: 10px;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  display: flex;
  height: 20px;
  flex-direction: row;
  gap: 0px;
}

.trait {
  font-weight: 900;
  color: #d3688a;
}

// ----------------------------------------------------

.talent-tree-fullscreen-sheet {
  header {
    display: none;
  }

  .content {
    width: 100vw;
    height: 100vh;
  }
}