<header class='sheet-header'>
  <img
    class='profile-img action-img'
    src='{{item.img}}'
    data-action="image"
    data-edit='img'
    title='{{item.name}}'
  />
  <h1 class='item-name'><input
      name='name'
      type='text'
      value='{{item.name}}'
      placeholder='Name'
    /></h1>
</header>