<div class="character-select">
  <select id="character-select">
    {{#each characters as |character|}}
      <option value="{{character.id}}">{{character.name}}</option>
    {{/each}}
  </select>
</div>