<div class="character-select">
  <select id="trait-select"  style="margin-bottom: 10px;">
    {{#each traits as |trait|}}
      <option value="{{trait.short}}">{{trait.name}}</option>
    {{/each}}
  </select>

  <label for="value-to-beat">Versus TD</label>
  <input type="number" name="value-to-beat" id="value-to-beat" placeholder="TD"/>
</div>