.utopia.crafting-features-sheet .crafting-features-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  position: relative;
}
.utopia.crafting-features-sheet .crafting-features-list .feature {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  border-radius: 5px;
  height: 24px;
  border: 1px solid #ce5e1f;
  position: relative;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .cost {
  width: 55px;
  display: inline-block;
  text-align: right;
  margin-right: 3px;
  font-weight: 700;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .feature-name {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  pointer-events: none;
  line-height: 24px;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .feature-name[data-chosen=true] {
  text-decoration: line-through;
  color: #949494;
}
.utopia.crafting-features-sheet .crafting-features-list .feature .feature-name[data-incompatible=true] {
  text-decoration: line-through;
  color: rgb(173, 84, 84);
}
.utopia.crafting-features-sheet .crafting-features-list .feature .feature-tagline {
  font-size: 10px;
}
.utopia.crafting-features-sheet .crafting-features-list .feature:hover .content {
  visibility: visible;
  opacity: 1;
  display: flex;
}
.utopia.crafting-features-sheet .crafting-features-list .required-label {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 0 5px;
  font-size: 14px;
}
.utopia.crafting-features-sheet .crafting-features-list .required-features-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid white;
  padding: 5px;
  margin-top: 10px;
  padding: 12px 5px 5px 5px;
}
.utopia.crafting-features-sheet .crafting-features-list .required-feature {
  border: 1px solid red;
  gap: 5px;
}
.utopia.crafting-features-sheet .feature-tooltip {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em;
  height: auto;
  z-index: 200;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}
.utopia.crafting-features-sheet .feature-tooltip .tag {
  height: 24px;
  width: auto;
  padding: 0 0.5em;
  text-wrap: none;
  align-items: center;
  align-content: center;
  text-align: center;
  line-height: 24px;
}
.utopia.crafting-features-sheet .feature-tooltip .tag.category {
  border: 1px solid #ce5e1f;
}
.utopia.crafting-features-sheet .feature-tooltip .tag.component {
  border: 1px solid #c2ce1f;
}
.utopia.crafting-features-sheet .feature-tooltip .tag.stackable {
  border: 1px solid #1fce5e;
}
.utopia.crafting-features-sheet .feature-tooltip .tag.componentPerStack {
  border: 1px solid #158b40;
}