.utopia.general-item-sheet .general-attributes {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}
.utopia.general-item-sheet .general-attributes .sidepanel {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 10px;
  margin-top: 10px;
}
.utopia.general-item-sheet .general-attributes .sidepanel .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  position: relative;
}
.utopia.general-item-sheet .general-attributes .sidepanel .row input, .utopia.general-item-sheet .general-attributes .sidepanel .row select, .utopia.general-item-sheet .general-attributes .sidepanel .row multi-select {
  height: 25px;
  transform: translateY(-50%);
  width: 60%;
}
.utopia.general-item-sheet .general-attributes .sidepanel .row label {
  height: 20px;
  transform: translateY(-50%);
}
.utopia.general-item-sheet .general-attributes .general-description {
  padding-top: 10px;
}