<div class="flexrow">
  <nav class="tabs">
    {{#each tabs as |tab|}}
      <button type="button" class="tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.tab}}" data-action="tabClick">
        {{localize tab.label}}
      </button>
    {{/each}}
  </nav>
</div>