<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{item.img}}'
    data-edit='img'
    data-action="image"
    title='{{item.name}}'
  />
  <div class="flexcol">
    <div class='header-fields'>
      <h1 class='item-name'><input
          name='name'
          type='text'
          value='{{item.name}}'
          data-action="update"
          placeholder='Name'
        /></h1>
    </div>
  </div>
</header>