<div class="tab paper-doll {{tab.cssClass}}" data-group="primary" data-tab="paperdoll">
  <i class="fa-solid fa-person"></i>
  <div class="head">{{> "paper-doll" evolution=true slot=paperdoll.head key='head' dir="right"}}</div>
  <div class="neck">{{> "paper-doll" evolution=false slot=paperdoll.neck key='neck' dir="right"}}</div>
  <div class="chest">{{> "paper-doll" evolution=false slot=paperdoll.chest key='chest' dir="left"}}</div>
  <div class="back">{{> "paper-doll" evolution=false slot=paperdoll.back key='back' dir="left"}}</div>
  <div class="waist">{{> "paper-doll" evolution=false slot=paperdoll.waist key='waist' dir="left"}}</div>
  <div class="hands">{{> "paper-doll" evolution=true slot=paperdoll.hands key='hands' dir="left"}}</div>
  <div class="ring">{{> "paper-doll" evolution=false slot=paperdoll.ring key='ring' dir="left"}}</div>
  <div class="feet">{{> "paper-doll" evolution=true slot=paperdoll.feet key='feet' dir="right"}}</div>
</div> 