@import url('https:/* fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'utils/typography.css';
@import 'utils/colors.css';
@import 'utils/mixins.css';
@import 'utils/variables.css';

/* Global styles */
@import 'global/window.css';
@import 'global/grid.css';
@import 'global/flex.css';

/* Chat override */
@import 'components/chat/chat.css';

/* Tagify classes */
@import 'components/tagify.css';

/* Utopia classes */
@import 'components/general/resource.css';
@import 'components/general/forms.css';
@import 'components/general/effects.css';
@import 'components/general/tables.css';
@import 'components/general/items.css';
@import 'components/spellcraft/spellcraft.css';
@import 'components/general/sidebars.css';
@import 'components/actor/actor-sheet-v2.css';
@import 'components/spellcraft/spellcraft.css';

@import 'components/item/artifice-feature-sheet.css';

@import 'components/item/general-item-sheet.css';

@import 'components/item/gear-sheet.css';
@import 'components/other/crafting-features-sheet.css';
@import 'components/hud/token-hud.css';

/* @import 'components/item/spell-sheet.css'; */
@import 'components/item/action-sheet.css';
@import 'components/item/spell-tab.css';
@import 'components/item/spell-feature-sheet.css';
@import 'components/item/specialist-talent-sheet.css';

@import 'components/other/options-sheet.css';
@import 'components/other/attack-sheet.css';
@import 'components/other/subtrait-sheet.css';

@import 'components/chat/chat-cards.css';
@import 'components/talent-tree/talent-tree.css';

@import 'components/general/formula.css';

#tooltip:has(.skill-description) {
  background: transparent;
  border: none;
  box-shadow: none;
}

#tooltip:has(.spellcraft-options-sheet) {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: none;
  pointer-events: initial;
  background: black;

  &:hover{
    visibility: visible;
    opacity: 1;
  }
}

#tooltip:has(.feature-tooltip) {
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.5);
  border: none;
  box-shadow: none;
}