.window-app {
  font-family: $font-primary;
  border: 2px solid rgba(255, 232, 24, 0.8);
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}