<div>

  <svg width="0" height="0" style="position: absolute;">
    <defs>
      <!-- Gradient for SVG 1 -->
      <linearGradient id="warfare-gradient" x1="0" y1="0" x2="0" y2="1">
        <stop id="gradient-stop" offset="0%" stop-color="rgba(255,255,255,0.5)"/>
        <stop offset="0%" stop-color="rgba(0,0,0,0.2)"/>
        <stop offset="100%" stop-color="rgba(0,0,0,0.2)"/>
      </linearGradient>
      <!-- Gradient for SVG 2 -->
      <linearGradient id="tactics-gradient" x1="0" y1="0" x2="0" y2="1">
        <stop id="gradient-stop" offset="0%" stop-color="rgba(255,255,255,0.5)"/>
        <stop offset="0%" stop-color="rgba(0,0,0,0.2)"/>
        <stop offset="100%" stop-color="rgba(0,0,0,0.2)"/>
      </linearGradient>
    </defs>
  </svg>


  <div class="talent-display grid grid-6col">
    <nav class="flexcol talent-tabs" data-group="primary-tabs">
      <ol>
        <li class="talent-tab" data-tab="warfare" data-group="primary-tabs">Warfare</li>
        <li class="talent-tab" data-tab="tactics" data-group="primary-tabs">Tactics</li>
        <li class="talent-tab" data-tab="innovation" data-group="primary-tabs">Innovation</li>
        <li class="talent-tab" data-tab="magecraft" data-group="primary-tabs">Magecraft</li>
        <li class="talent-tab" data-tab="influence" data-group="primary-tabs">Influence</li>
        <li class="talent-tab" data-tab="prowess" data-group="primary-tabs">Prowess</li>
      </ol>
    </nav>

    <div class="content grid-span-5">
      <div class="tab" data-tab="warfare" data-group="primary-tabs">
        {{> "systems/utopia/templates/talents/parts/talent-warfare.hbs"}}
      </div>
      <div class="tab" data-tab="tactics" data-group="primary-tabs">
        {{> "systems/utopia/templates/talents/parts/talent-tactics.hbs"}}
      </div>
      <div class="tab" data-tab="innovation" data-group="primary-tabs">
        {{> "systems/utopia/templates/talents/parts/talent-innovation.hbs"}}
      </div>
      <div class="tab" data-tab="magecraft" data-group="primary-tabs">
        {{> "systems/utopia/templates/talents/parts/talent-magecraft.hbs"}}
      </div>
      <div class="tab" data-tab="influence" data-group="primary-tabs">
        {{> "systems/utopia/templates/talents/parts/talent-influence.hbs"}}
      </div>
      <div class="tab" data-tab="prowess" data-group="primary-tabs">
        {{> "systems/utopia/templates/talents/parts/talent-prowess.hbs"}}
      </div>
    </div>

  </div>
</div>