<div class="flexcol">
  <div class="flexrow">
    <h3>{{localize 'UTOPIA.SheetLabels.talent-tree-selector'}}</h3>
    {{#if gm}}<button type="button" data-action="unlockAll">{{localize 'UTOPIA.CommonTerms.unlock'}}</button>{{/if}}
  </div>
  <label>{{localize 'UTOPIA.CommonTerms.filter'}} <input name="filter" placeholder="{{localize 'UTOPIA.CommonTerms.filterhelp'}}" data-action="filter" type="text"/></label>
</div>