 <header class='sheet-header'>
  <img
    class='item-icon'
    src='{{item.img}}'
    data-edit='img'
    data-action="image"
    title='{{item.name}}'
  />
  <div class="flexcol">
    <div class='header-fields'>
      <input
        name='name'
        type='text'
        class="item-name-input"
        value='{{item.name}}'
        data-action="update"
        placeholder='Name'
      />
    </div>
  </div>
</header>