.window-app {
  font-family: $font-primary;
  border: 1px solid rgba(100, 24, 255, 0.8);
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}