// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Chat override */
@import 'chat/chat';

/* Tagify classes */
@import 'components/tagify';

#tooltip:has(.skill-description) {
  background: transparent;
  border: none;
  box-shadow: none;
}

#tooltip:has(.spellcraft-options-sheet) {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: none;
  pointer-events: initial;
  background: black;

  &:hover{
    visibility: visible;
    opacity: 1;
  }
}

#tooltip:has(.feature-tooltip) {
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.5);
  border: none;
  box-shadow: none;
}

/* Styles limited to utopia sheets */
.utopia {
  @import 'components/general/resource';
  @import 'components/general/forms';
  @import 'components/general/effects';
  @import 'components/general/tables';
  @import 'components/general/items';
  
  &.spellcraft-sheet {
    @import 'components/spellcraft/spellcraft';
  }
  
  &.actor-sheet {
    @import 'components/actor/actor-sheet-v2';
  }

  &.spell-sheet {
    @import 'components/spellcraft/spellcraft';
  }

  &.artifice-feature-sheet {
    @import 'components/item/artifice-feature-sheet';
  }

  &.general-item-sheet {
    @import 'components/item/general-item-sheet';
  }

  &.gear-sheet {
    @import 'components/item/gear-sheet';
  }

  &.crafting-features-sheet {
    @import 'components/other/crafting-features-sheet';
  }

  //@import 'components/item/spell-sheet';
  @import 'components/item/action-sheet';
  @import 'components/item/spell-tab';
  @import 'components/item/spell-feature-sheet';
  @import 'components/item/specialist-talent-sheet';
  
  @import 'components/other/options-sheet';
  @import 'components/other/attack-sheet';
  @import 'components/other/subtrait-sheet';

  @import 'components/chat/chat-cards';
  @import 'components/talent-tree/talent-tree';

  @import 'components/general/formula';
}

