details {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  border: 4px groove #d3688a;
  border-radius: 10px;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.activity-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activity-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.activity-header img {
  width: 100px;
  height: 100px;
  border: 4px groove #ffffff;
  border-radius: 5px;
}

.activity-header .activity-name {
  font-size: var(--font-size-36);
  font-weight: bold;
  background: transparent;
  text-align: center;
  height: 40px;
}

.operations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.operations-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.operation-item {
  border: 4px groove #d3688a;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  padding: 10px;

  .operation-name {
    font-size: var(--font-size-20);
  }

  .operation-actions {
    padding: 0 1rem;
    display: flex;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
  }
}


section.window-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 750px;
}

.operation-costs,
.operation-performance,
.operation-active-effects,
.operation-execution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  line-height: 20px;
}

.operation-cost-type {
  width: 200px;
  text-align: center;
}

.operation-cost {
  //width: 80px;
  text-align: center;
}

.operation-category {
  font-size: var(--font-size-20);
  width: 100%;
  text-align: start;
  font-weight: bold;
  margin-top: 10px;
}

.operation-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  align-items: start;
  padding: 5px;

  select, multi-select, string-tags, input:not([type="checkbox"]) {
    min-width: 150px;
    width: 100%;
  }
}

.operation-content-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  align-items: start;

  select, multi-select, string-tags, input:not([type="checkbox"]) {
    min-width: 100px;
    width: 100%;
  }
}

.operation-sheet-buttons {
  margin-top: 10px;
}

.activity-category {
  margin-top: 10px;
  font-size: var(--font-size-20);
  font-weight: bold;
}